.vidembed {
    margin: 1em auto;
    display: block;
}

.hide {
    opacity: 0;
}

#banner-home-img {
    aspect-ratio: unset !important;
}

#banner-home-subtitle {
    font-family: var(--serif-font);
    font-weight: 375 !important;
}

.home-title {
    font-family: var(--serif-font);
    font-weight: 700 !important;
}

.footnote-definition {

    &:first-of-type {
        padding-top: 1em;
        margin-top: 2em;
        // add top border using background
        background-image: linear-gradient(to right, #333 40%, rgba(255, 255, 255, 0) 20%);
        background-position: top;
        background-size: 10px 1px;
        background-repeat: repeat-x;
    }
}

#page-content {

    p,
    li,
    details,
    summary {
        font-family: var(--serif-font) !important;
    }
}

mark {
    margin: 0 -0.4em;
    padding: 0em 0.4em;
    border-radius: 0.8em 0.3em;
    background: transparent;
    background-image: linear-gradient(to right,
            rgba(255, 225, 0, 0.1),
            rgba(255, 225, 0, 0.7) 4%,
            rgba(255, 225, 0, 0.3));
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.25em !important;
}

textarea,
input {
    font: inherit;
    letter-spacing: inherit;
    word-spacing: inherit;
}
