.yvi {
    //youtube and vimeo iframe
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    border-radius: 1%;
}

.yv {
    //youtube and vimeo div
    position: relative;
    padding-bottom: 41.5%;
    height: 0;
    overflow: hidden;
    border: none;
}