.yvi {
    //youtube and vimeo iframe
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    border-radius: 1%;
}

.yv {
    //youtube and vimeo div
    position: relative;
    padding-bottom: 41.5%;
    height: 0;
    overflow: hidden;
    border: none;
}


.admonition.note {
    pre > code {
        background-color: var(--codeblock-bg) !important;
    }
}

.admonition.tip {
    border-color: var(--admonition-tip-border);
    background-color: var(--admonition-tip-bg);

    pre > code {
        background-color: var(--codeblock-bg) !important;
    }

}

.admonition.info {

    pre > code {
        background-color: var(--codeblock-bg) !important;
    }
}

.admonition.warning {
    
    pre > code {
        background-color: var(--codeblock-bg) !important;
    }
}

.admonition.danger {
    pre > code {
        background-color: var(--codeblock-bg) !important;
    }
}
